PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/abia_kms?schema=public"
JWT_SECRET="abia_state_kms_secret_key_2026_super_secure"
JWT_REFRESH_SECRET="abia_state_kms_refresh_secret_key_2026_super_secure"
